* {

    margin: 20px;
    margin-left: 60px;
    margin-right: 50px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}



.logoCircle {

    
    shadow: 0.2em 0.2em 0.2em grey;

}

.navbar {

    position: absolute;
    width: 1440px;
    height: 122px;
    left: calc(50% - 1440px/2);
    top: 0px;
}

.navbar li {

    display: inline-block;
    text-align: center;

}

.navbar ul {
    text-align: center;
    color: #6B708D;
    font-weight: 400;

}

div a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 0.2em 0.2em 0.2em grey;


}

.boton {

    font-weight: 400;
    background-color: #072AC8;
    color: white;
    border: 10px solid #072AC8;
    float: right;
   
}

.wrapper {
    margin-top: -80px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    grid-auto-rows: 400px;
    height: 697px;
    width: 1440px;
    margin-left: 50px;
}

.one {
    margin: -0px;
    text-align: left;
    font-size: 60px;
    grid-column: 2/8;
    grid-row: 1/2;
    margin-top: px;
}

.one p { font-size: 24px;}

.two {

    grid-column: 4/8;
    grid-row: 1;
}

.two img {

    margin-left: 400px;
    width: 700px;
    height: auto;
}

.three {

    grid-column: 5 / 7;
    grid-row: 1;
}

.three img {

    width: 450px;
    height: auto;
}

.four {
    grid-column: 11;
    grid-row: 2;
    
}

.four img {
    
    clear: left;
    
    width: 400px;
    
height: auto;
}

.imgs {
    
    margin-top: 200px;
    margin-bottom: 150px;;
    width: 1440px;
    height: 96px;
    filter: grayscale(100%);
display: flex;
justify-content: space-between;
    
}

.wrapper h1 {
    font-weight: 500;
}

.boton2 {

margin-left: 60px;
    font-weight: 400;
    background-color: #072AC8;
    color: white;
    border: 10px solid #072AC8;
}


.parent {
    
    margin-right: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 50fr 50fr 50fr;
    grid-template-rows: 200px 50px;
    grid-gap: 20px;
}

.container>div {

    margin-top: 70px;
    display: inline-block;


}

.minititl {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
}

.mini2 {
    text-align: left;
    font-size: 14px;
}

.box1 {

    width: 400px;
    height: 550px;
    box-shadow: 0.2em 0.2em 0.2em grey;
    font-size: 14px;

}



.box1 img {
    margin: -10px auto;
    padding: 0px;
    width: 400px;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


.box2 {
    text-align: left;
    width: 400px;
    height: 550px;
    box-shadow: 0.2em 0.2em 0.2em grey;
    font-size: 14px;
    text-align: center;
}

.box2 img {
    margin: -10px auto;
    padding: 0px;
    width: 400px;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.box3 {
    text-align: left;
    width: 400px;
    height: 550px;
    box-shadow: 0.2em 0.2em 0.2em grey;
    text-align: center;
    font-size: 14px;
}

.box3 img {
    margin: -10px auto;
    padding: 0px;
    width: 400px;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: left;
    font-weight: 400;
    font-size: 50px;
    margin-left: 120px;
}

.learn {
    text-align: left;
    margin-top: 55px;
    color: #072AC8;
    font-weight: 400;
}


.container2>div {

    text-align: left;
    display: inline-block;
    padding: 2px;

}

.minititl {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-align: left;
}

.box4 {
    text-align: left;
    width: 400px;
    height: 450px;
    box-shadow: 0.2em 0.2em 0.2em grey;
    font-size: 14px;

}

.box4 img {
    object-fit: cover;
    width: 100%;
    height: 60%;
}

.box5 {
    text-align: left;
    width: 400px;
    height: 450px;
    box-shadow: 0.2em 0.2em 0.2em grey;
    font-size: 14px;
    text-align: center;
}

.box5 img {
    object-fit: cover;
    width: 100%;
    height: 60%;

}



.box6 {
    text-align: left;
    width: 400px;
    height: 450px;
    box-shadow: 0.2em 0.2em 0.2em grey;
    text-align: center;
    font-size: 14px;
}

.box6 img {
    object-fit: cover;
    width: 100%;
    height: 60%;
}





.learn {
    text-align: left;
    margin-top: 55px;
    color: #072AC8;
    font-weight: 400;
}

.container3 {
    
    position: relative;
    width: 1440px;
    height: 900px;
    background-color: #292E47;
    margin-top: 0px;
}



.foto1 {
    position: relative;
    float: left;

}

.foto2 {
    position: relative;
    float: right;
}

.foto3 {
    position: relative;
    clear: right;
    float: left;
    margin-top: 250px;
}

.foto4 {
    clear: right;
    position: relative;
    margin-top: 250px;
    float: right;

}

.texto {
    font-size: 50px;
    font-weight: 400;
    top: 20%;
    left: 28%;
    color: white;
    position: absolute;
text-align: center;
margin-left: -40px;
}

.centrado {

    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #FFC600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.cuadro {text-align: center;
line-height: 2px;}

.fotoPerfil {
    display: grid;
    margin-left: 200px;
    width: 100px;
    height: auto;
    border-radius: 90px;
margin-top: -70px;
float: left;
}

.kristin { color: #43D2FF;
    margin-left: 500px;
    margin-top:650px;
    
    }

    .booking { 
        margin-left: 485px;
        margin-top: 0px;
        color: white;}

.container4 {

    position: relative;
    width: 80%;
    height: 500px;
    background-color: #FFC600;
}

.texto4 {
    font-size: 50px;
    font-weight: 400;
    top: 20%;
    left: 28%;
    color: #292E47;
    position: absolute;
}

.texto5 {
    font-size: 24px;
    font-weight: 300;
    text-decoration: center;
    margin-left: 200px;
}




.boton10 {

    float: right;
    font-weight: 400;
    background-color: #072AC8;
    color: white;
    border: 10px solid #072AC8;
}



h1 {
    margin-top: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 60px;
    text-align: left;
}

.fecha {
    text-align: right;
    font-size: 20px;
    margin-top: -25px;
}

.enun {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.titfecha {
    display: inline-block:
}


.projectsection {
    font-size: 22px;
    width: 1440px;
    height: 1181px;
    left: 0px;
    top: 262px;
    line-height: 30px;
}


.fotopage {
    object-fit: cover;
    width: 1440px;
    height: 600px;
}

footer {
    background-color: ;
    width: 1440px;
    height: 242px;
    bottom: 0px;

}

.cajaHor {
    float: right;
    width: 1440px;
    height: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: -10px;



}

.cajaHor div {
    float: right;
    clear: left;
    margin-left: 150px;
    margin-top: -50px;

}

.cajaHor2 {
    margin-right: 25px;
}

.label {
    display: block;
    float: left;
    width: 70px;
}

.form { 
    margin-top: 100px;;
    color:#072AC8}

button { font-weight: 400;
    background-color: #072AC8;
    color: white;
    border: 10px solid #072AC8;
    float: left;
width: 1000px;
height: 80px;
text-align: center;}



input { 
    
    
background-color: #e0e0e0;
width: 1000px;
height: 70px;
border:#ccc;
margin-top: 20px;}

.contacttitle { 
    margin-top: 20px;
    font-size: 50px;
font-weight: 500;}

#ultimo { width: 1000px;
height: 200px;}





